<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LINQ.Properties.Settings.AdventureWorks2014ConnectionString"
            connectionString="Data Source=DESKTOP-NPHGOTS\MSSQL;Initial Catalog=AdventureWorks2014;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LINQ.Properties.Settings.AdventureWorks2014ConnectionString1"
            connectionString="Data Source=192.168.56.1;Initial Catalog=AdventureWorks2014;User ID=SA;Password=Passw0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>